
.s3-download-table-row {
  vertical-align: top;
}

.s3-download-table-index {
  display:inline;
}

.s3-download-table-index .form-item {
  display:inline;
}

.s3-duration  {
  display:inline;
  white-space: nowrap;
}

.s3-duration .form-item {
  display:inline;
  white-space: nowrap;
}

tr.group {
  border:0px;
}

.file-name {
  font-style: italic;
}

/*.uc-file-directory-view {
  font-style: italic;
  font-weight: bold;
}*/
